<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Inventory </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
             <img class="icon-size mx-2" src="../../assets/icons/add.png" alt="">
            <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <img class="icon-size mx-2" src="../../assets/icons/history.png" alt="">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <!-- <img class="icon-size mx-2" src="../../assets/icons/search.png" alt=""> -->
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </a>
      </li>
    </ul>
    <form class="form-inline my-0 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->

      <img class="icon-size mx-2 my-sm-0" src="../../assets/icons/notification.png" alt="">


      <img class="icon-size  mx-2 my-sm-0" src="../../assets/icons/browser.png" alt="">


      <img class="icon-size  mx-2 my-sm-0" src="../../assets/icons/setting.png" alt="">


      <img class="icon-size  mx-2 my-sm-0" src="../../assets/icons/help and support.png" alt="">

      <img class="icon-size  mx-2 my-sm-0" src="../../assets/icons/user.png" alt="">

    </form>
  </div>
</nav>
